@charset "UTF-8";

// @description
// * Default responsive breakpoint map (`!default`).
// * Override before `@use` to match your project.

// stylelint-disable scss/dollar-variable-empty-line-before

$breakpoints: (
    "x-small": 240px,
    "small": 280px,
    "mob-min": 320px,
    "mob": 400px,
    "mob-wide": 480px,
    "xs": 576px,
    "sm-tab": 640px,
    "sm": 767px,
    "sm-wide": 870px,
    "sm-max": 930px,
    "md": 991px,
    "md-tab": 1024px,
    "md-max": 1150px,
    "lg": 1200px,
    "lg-max": 1300px,
    "xl-1": 1400px,
    "xl-2": 1550px,
    "xl-3": 1900px,
    "xxl-1": 2400px,
    "xxl-2": 2560px,
    "xxl-3": 2800px,
    "xxl-4": 3000px,
    "x4k": 3840px,
) !default;

$breakpoints-types: (
    min,
    max
) !default;

$breakpoints-dimensions: (
    width,
    w,
    height,
    h
) !default;
