node_modules

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/dist
index.html

packages/**/index.html
packages/**/dist/**.compiled.css
packages/**/dist/**.compiled.css.map
packages/**/dist/**.compiled.min.css
packages/**/dist/**.compiled.min.css.map

/.vscode/*
!.vscode/settings.json
