node_modules/
.yarn/
.pnp.*
.vscode/
.github/
build/
.git/
docs/
tests/
dist/
index.html
*.log
MAINTAINERS.md
jest.config.js
.eslintrc.js
.editorconfig
.stylelintrc
.yarnrc.yml
nodemon.json
CODE-OF-CONDUCT.md
AUTHORS.md
CONTRIBUTING.md
SECURITY.md
